<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container mt-5 mb-5">

        <h2 class="col-8">To Do Application</h2>
            
        <form class="row" action="<%= userData ? `/update/${userData[0].id}` : '/add-task' %>" method="POST">
            <div class="mb-3 col-11">
              <input type="text" class="form-control" id="task" placeholder="Enter Your Task" name="title" required 
              value="<%= userData ? userData[0].title : '' %>">
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary"><%- userData ? '<i class="fa-solid fa-rotate"></i>' : '<i class="fa-solid fa-plus"></i>' %></button>
                <% if(userData){ %>
                    <a href="/" class="btn btn-secondary"><i class="fa-solid fa-xmark"></i></a>
                <% } %>
            </div>
          </form>

          <ul class="list-group">

            <% result.map((data)=>{ %>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div class="<%= data.done ? 'text-decoration-line-through bg-light' : '' %>">
                    <%- data.title %>
                </div>
                <div>
                <% if(!(data.done)){ %>
                    <a href="/done/<%= data.id %>" class="btn btn-success"><i class="fa-solid fa-check"></i></a>
                <% } else{ %>
                    <a href="/not-done/<%= data.id %>" class="btn btn-success"><i class="fa-solid fa-xmark"></i></a>
                <% } %>

                    <a href="/edit/<%= data.id %>" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="/delete/<%= data.id %>" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this task?')"><i class="fa-solid fa-trash"></i></a>
                </div>
            </li>

            <% }) %>

          </ul>
    </div>
    
</body>
</html>